<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Board Games</a>
    <ul id="nav-mobile" class="right hide-on=med-and-down">
      <li><a href="/board_games">Board Games</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>